ion-content {
  background: linear-gradient(to bottom, #A1FFCE, #FAFFD1);
}

h2{
   color: (244, 76%, 37%);
   font-family: 'Times New Roman', Times, serif;
   text-align: Center;
}

p {
  color: #000000;
  font: caption;
  font-size: small;
  text-align: justify;
}